# Web framework
Flask==3.1.0
gunicorn==20.1.0

# NumPy y SciPy para procesamiento numérico
numpy==2.1.3
scipy==1.15.2

# Manipulación de imágenes
pillow==11.2.1
opencv-python-headless==4.11.0.86

# Face embeddings
keras-facenet==0.3.2
tensorflow==2.18.0

# ONNX Runtime (si tu app carga modelos ONNX)
onnxruntime==1.15.1

# Peticiones HTTP
requests==2.32.3
